<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="editUser()">
    <ion-item>
      <ion-label position="floating">Picture</ion-label>
      <ion-input value="{{user.picture}}" name="username" type="file"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input value="{{user.username}}" name="username" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input value="{{user.email}}" name="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input value="{{user.password}}" name="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-select value="{{user.role}}" name="status">
        <ion-select-option value="admin">Admin</ion-select-option>
        <ion-select-option value="user">User</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" type="submit">Save</ion-button>
  </form>
</ion-content>