<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Attendance Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="attendanceForm" (ngSubmit)="addAttendanceRecord()">
    <ion-item>
      <ion-label position="floating">Employee Name</ion-label>
      <ion-select [(ngModel)]="employee" class="form-control" [ngModelOptions]="{standalone: true}" required>
        <ion-select-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.first_name }} {{ employee.last_name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Attendance Type</ion-label>
      <ion-select [(ngModel)]="attendance_type" class="form-control" [ngModelOptions]="{standalone: true}" required>
        <ion-select-option value="ARRIVING TIME" >Arriving Time</ion-select-option>
        <ion-select-option value="START BREAK TIME" >Start Break Time</ion-select-option>
        <ion-select-option value="END BREK TIME" >End Break Time </ion-select-option>
        <ion-select-option value="LEAVING TIME" >Leaving Time</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" type="submit">Add Attendance Record</ion-button>
  </form>
  <ion-button expand="full" (click)="closeModal()">Close</ion-button>
</ion-content>