<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Department</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="departmentForm" (ngSubmit)="addDepartment()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="role_name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Add Department</ion-button>
  </form>
</ion-content>