<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="projectForm" >
    <ion-list>
      <ion-item>
        <ion-label position="floating">Project title</ion-label>
        <ion-input formControlName="title" type="text" class="form-control" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input  formControlName="description" type="text" class="form-control" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Status</ion-label>
        <ion-select formControlName="status" type="text" class="form-control" required>
          <ion-select-option value="PENDING">Pending</ion-select-option>
          <ion-select-option value="PROGRESSING">In Progress</ion-select-option>
          <ion-select-option value="COMPLETE">Completed</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" (click)="editProject(project.id)">Save</ion-button>
  </form>
  <ion-button expand="full" (click)="closeModal()">Close</ion-button>
</ion-content>