<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <div class="flex-center">
          <img alt="Silhouette of mountains" src="../assets/icon/mbope logo.jpg" height="100" />
          <ion-card-title color="dark-blue">MBOPE GE</ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input [(ngModel)]="username" name="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
          </ion-item>
          <ion-button expand="full" (click)="login()">Login</ion-button>
          <ion-button expand="full" routerLink="/register">SignUp</ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>