<!-- employees.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="filterEmployees()" ></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let employee of filteredEmployees; let index=index">
      <ion-label>{{ employee.first_name }} {{ employee.last_name }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editEmployee(index)">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="deleteEmployee(index)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addEmployee()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>