<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu swipeGesture="false"  contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-item lines="none" routerDirection="root" routerLink="/home">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../assets/icon/mbope logo.jpg" />
          </ion-avatar>
          <ion-label>MBOPE GE</ion-label>
          </ion-item>
          <ion-note>Mbope Employee Management System</ion-note>

          <ion-item-group>
            <ion-item-divider>
              <ion-icon slot="start" name="folder-open-outline"></ion-icon>
              Manage
            </ion-item-divider>
            <ion-item lines="none" routerDirection="root" routerLink="/projects">
              <ion-icon slot="start" name="folder-outline"></ion-icon>
              Projects
            </ion-item>
            <ion-item lines="none" routerDirection="root" routerLink="/users">
              <ion-icon slot="start" name="person-circle-outline"></ion-icon>
              Users
            </ion-item>
            <ion-item lines="none" routerDirection="root" routerLink="/employees">
              <ion-icon slot="start" name="people-outline"></ion-icon>
              Employees
            </ion-item>
            <ion-item lines="none" routerDirection="root" routerLink="/tasks">
              <ion-icon slot="start" name="clipboard-outline"></ion-icon>
              Tasks
            </ion-item>
            <ion-item lines="none" routerDirection="root" routerLink="/attendance">
              <ion-icon slot="start" name="time-outline"></ion-icon>
              Attendance
            </ion-item>
            <ion-item lines="none" routerDirection="root" routerLink="/departments">
              <ion-icon slot="start" name="business-outline"></ion-icon>
              Department
            </ion-item>
            <ion-item lines="none" routerDirection="root" routerLink="/zamchat-registration">
              <ion-icon slot="start" name="log-in-outline"></ion-icon>
              <ion-label>Zamchat Registration</ion-label>
            </ion-item>
          </ion-item-group>
          <ion-item-group>
            <ion-item-divider>
              <ion-icon slot="start" name="settings-outline"></ion-icon>
              Settings
            </ion-item-divider>
            <!-- <ion-item lines="none" routerDirection="root" routerLink="/personal-information"> -->
            <ion-item lines="none" routerDirection="root" >
              <ion-icon slot="start" name="person-outline"></ion-icon>
              Personal Information
            </ion-item>
            <!-- <ion-item lines="none" routerDirection="root" routerLink="/account-settings"> -->
            <ion-item lines="none" routerDirection="root">
              <ion-icon slot="start" name="key-outline"></ion-icon>
              Account Settings
            </ion-item>
            <!-- <ion-item lines="none" routerDirection="root" routerLink="/notifications"> -->
            <ion-item lines="none" routerDirection="root">
              <ion-icon slot="start" name="notifications-outline"></ion-icon>
              Notification
            </ion-item>
            <!-- <ion-item lines="none" routerDirection="root" routerLink="/permission"> -->
            <ion-item lines="none" routerDirection="root">
              <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
              Permission
            </ion-item>
          </ion-item-group>
          <ion-item lines="none" routerDirection="root" routerLink="/logout">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
