<!-- attendance.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="filterAttendance()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let record of filteredAttendances; let index=index">
      <ion-label>
        <h2>{{ getEmployeeName(record.employee) }}</h2>
        <p>{{ record.date }}</p>
        <p>{{ record.attendance_type }}</p>
        <p>{{ record.date_time }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editAttendance(index)">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="deleteItem(record.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addAttendance()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>